<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add a Question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
<h1>Ask a question</h1>
<form action="/ask-question" method="POST">
    <label for="question_title">Title of the question:</label>
    <br>
    <input type="text" name="title" size="15"{{ note }}>
    <input type="text" name="id" value = "{{ id }}" hidden>
    <br><br>
    <label for="problem_explanation">Explain the problem:</label>
    <br>
    <textarea id="problem_explanation" name="question_id" rows="8" cols="80"></textarea>
    <br><br>
    <br>
    <br>
    <button type = "submit">Post Question!</button>
</form>
</body>
</html>