<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display a Question</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        </head>
<body>
    <h1>Display Question</h1>
    <br>
    <table>
        <tr>
            {% for line in header %}
                <th>{{ line }}</th>
            {% endfor %}
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question['id'] }}</td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}
            <td>{{ question['title'] }}</td>
            <td>{{ question['message'] }}</td>
        </tr>
        {% endfor %}
        <br><br>
</table>
    <br><br>
    <h2>Comments:</h2>
    <p align="center"><a class="button" href="{{ url_for('add_comment_to_question', question_id = questions[0]['id']) }}">
    Comment here on a question</a></p>


    {% for line in comment_to_question %}

    <p class="comment" align="center" style="text-decoration: underline;"><em>{{ line.message }}</em></p>
    <table align="center">

        <tr>
            <td width="150" align="center">Submission time</td>
            <td width="150" align="center">Times edited</td>
        </tr>
        <tr>
            <td width="150" align="center">{{ line.submission_time }}</td>
            <td width="150" align="center">{{ line.edited_count }}</td>
        </tr>
        <td></td>


    </table>


    {% endfor %}

    <div style="text-align:center;">
        <h3>Answer</h3>
    </div>
    <table>
        <tr>
            {% for line in answers_header %}
                <th>{{ line }}</th>
            {% endfor %}
        </tr>
        {% for answer in answers %}
        <tr>
            <td>{{ answer["id"] }}</td>
            <td>{{ answer['submission_time'] }}</td>
            <td>{{ answer['question_id'] }}</td>
            <td>{{ answer['message'] }}</td>
            <td>{{ answer['image'] }}</td>
            <td><a href="/answer/{{ answer['id'] }}/new-comment" class="button">Add Comment</a></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    </div>
    <br>
    <div style="text-align:center;">
        <a href='/question/{{ questions[0]['id'] }}/new-answer' class="button">Add New Answer</a>
    </div>
    <br><br>
    <div style="text-align:center;">
        <a href="{{ url_for("list") }}" class="button" style="text-decoration: none">Back to Question</a>
    </div>


</body>
</html>