<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display a Question</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        </head>
    </form>
<body>
<h1>Display Question</h1>
<br>
<table>
        <tr>
            {% for line in header %}
                <th>{{ line }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ questionz['id'] }}</td>
            <td>{{ questionz['submission_time'] }}</td>
            <td>{{ questionz['view_number'] }}</td>
            <td>{{ questionz['vote_number'] }}
            <td>{{ questionz['title'] }}</td>
            <td>{{ questionz['message'] }}</td>
        </tr>
        <br><br>
</table>
<br><br>
<div style="text-align:center;">
    <h3>Answer</h3>
</div>
<table>
    <tr>
        {% for line in answers_header %}
            <th>{{ line }}</th>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ answers["id"] }}</td>
        <td>{{ answers['submission_time'] }}</td>
        <td>{{ answers['question_id'] }}</td>
        <td>{{ answers['message'] }}</td>
        <td>{{ answers['image'] }}</td>
        <td><a href="/answer/{{ answers['id'] }}/new-comment" class="button" style="text-decoration: none">Add Comment</a></td>
    </tr>
</table>
<br><br>

</div>
<br>
<div style="text-align:center;">
    <a href='/question/{{ answers['id'] }}/new-answer' class="button">Add New Answer</a>
</div>
<br><br>
<div style="text-align:center;">
    <a href="{{ url_for("index") }}" class="button" style="text-decoration: none">Back to Question</a>
</div>
</body>
</html>