<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <meta charset="UTF-8">
        <title>Home Page</title>
</head>
<body>
    <div id="nav-bar">
    <ul>
    <li><a href="{{ url_for('list') }}">List all of the questions</a></li>
        {#        <li><a href="{{ url_for('get_applicants_information') }}">Applicant Full Name And his/her Phone number</a></li>#}
{#        <li><a href="{{ url_for('add_new_applicant') }}">New Applicant</a></li>#}
{#        <li><a href="{{ url_for('update_applicant_informations') }}">Update informations</a></li>#}
    </ul>
    </div>
    <form action="{{ url_for("search") }}" method="POST">
        <input type="text" name="search" placeholder="Search..">
    </form>


</body>
<footer>
    <div class="footer">

        <p>Powered by CoolNAmePending</p>
    </div>
</footer>
</html>