<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ÁSKMÉT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
<h1>ÁSKMÉT</h1><br>
<h3><a href='/ask-question'>Ask a question</a></h3></h3>
<table>
    <tr>
        {% for line in header %}
            <th>{{ line }}</th>
        {% endfor %}
    </tr>
    {% for line in questions %}
        <tr>
            <td>{{ line['id'] }}</td>
            <td>{{ line['submission_time'] }}</td>
            <td>{{ line['view_number'] }}</td>
            <td>{{ line['vote_number'] }}</td>
            <td><a href="/question/{{ line['id'] }}">{{ line['title'] }}</a></td>
            <td>{{ line['message'] }}</td>
            <td>{{ line['image'] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
